$primary-color: #fff;
$secondary-color: #000;
$color-content: #434242;
$color-сomponents: #961914;
$element-color: #EAD1D0;

// $breakpoint-xl: 1199px;
// $breakpoint-lg: 991px;
// $breakpoint-md: 767px;
// $breakpoint-md-additional: 600px;
// $breakpoint-sm: 414px;
