$primary-color: #fff;
$secondary-color: #000;
$color-content: #434242;
$color-сomponents: #961914;
$element-color: #EAD1D0;
$section-accent-color: #FFF4F3;
$inactive-element-color: #9F9E9D;

$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;
$breakpoint-xs: 375px;
