.about-us {
    overflow: hidden;
    background-color: $section-accent-color;

    &__decorative {
        width: 1440px;
        height: 236px;

        stroke: $element-color;
        fill: transparent;

        position: absolute;

        @include breakpoint($breakpoint-xl) {
            display: none;
        }

        @include breakpoint($breakpoint-xs) {
            display: block;
            width: 792px;
            height: 130px;
        }

        &--primary {
            top: 289px;
            left: -471px;
            transform: rotate(-65deg);

            @include breakpoint($breakpoint-xs) {
                display: none;
            }
        }

        &--second {
            top: 295px;
            left: -476px;
            transform: rotate(-53deg);

            @include breakpoint($breakpoint-xs) {
                display: none;
            }
        }
    }

    &__decorative-mobile {
        display: none;

        &--primary {
            @include breakpoint($breakpoint-xs) {
                top: 166px;
                left: -216px;
                transform: rotate(-59deg);
            }
        }

        &--second {
            @include breakpoint($breakpoint-xs) {
                top: 168px;
                left: -220px;
                transform: rotate(-47deg);
            }
        }
    }

    &__wrapper {
        display: flex;

        @include breakpoint($breakpoint-xl) {
            flex-direction: column-reverse;
        }
    }

    &__pictures,
    &__content {
        flex-basis: calc((100% - 24px) / 2);
    }

    &__pictures {
        margin-right: 24px;
        padding: 80px 0;

        @include breakpoint($breakpoint-xl) {
            display: none;
            padding: 0;
        }

        @include breakpoint($breakpoint-xs) {
            display: block;
            padding-bottom: 145px;
        }
    }

    &__pictures-wrapper {
        position: relative;

        &:before,
        &:after {
            content: '';
            background-size: cover;

            position: absolute;

            @include breakpoint($breakpoint-xl) {
                display: none;
            }

            @include breakpoint($breakpoint-xs) {
                display: block;
            }
        }

        &:before {
            width: 183px;
            height: 183px;

            background-image: url('../images/about-us/no-webp/about-us-dog.png');

            top: 475px;
            left: -55px;
            z-index: 2;

            @include breakpoint($breakpoint-xs) {
                width: 101px;
                height: 101px;

                background-image: url('../images/about-us/no-webp/about-us-dog-mobile.png');

                top: 261px;
                left: 0px;
            }
        }

        &:after {
            width: 120px;
            height: 120px;

            background-image: url('../images/about-us/no-webp/about-us-heart.png');

            top: 287px;
            left: 415px;
            z-index: 3;

            @include breakpoint($breakpoint-xs) {
                width: 66px;
                height: 66px;

                background-image: url('../images/about-us/no-webp/about-us-heart-mobile.png');

                top: 158px;
                left: 261px;
            }
        }
    }

    &__img {
        object-fit: cover;

        &--primary  {
            width: 475px;
            height: 562px;

            position: relative;
            top: 0;
            left: 0;
            z-index: 1;

            @include breakpoint($breakpoint-xs) {
                width: 261px;
                height: 309px;
            }
        }

        &--second {
            width: 362px;
            height: 389px;

            position: absolute;
            top: 356px;
            left: 194px;
            z-index: 2;

            @include breakpoint($breakpoint-xl) {
                display: none;
            }

            @include breakpoint($breakpoint-xs) {
                display: block;
                width: 202px;
                height: 217px;

                top: 196px;
                left: 149px;
            }
        }
    }

    &__content {
        max-width: 525px;
        padding-top: 120px;
        padding-bottom: 119px;

        @include breakpoint($breakpoint-xl) {
            max-width: none;
            padding-top: 53px;
            padding-bottom: 77px;
        }

        p {
            margin-left: 3px;
            margin-bottom: 22px;
            line-height: 1.3;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__title {
        margin-bottom: 43px;

        &--rays {
            &:after {
                @include breakpoint($breakpoint-sm) {
                    display: none;
                }

                @include breakpoint($breakpoint-xs) {
                    display: block;

                    bottom: 21px;
                    left: 278px;

                    transform: rotate(270deg);
                }
            }
        }

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 26px;

            br {
                display: none;
            }
        }
    }
}
