.btn {
    display: inline-block;
    vertical-align: middle;
    padding: 13px 42px;

    font-size: inherit;
    font-weight: 600;
    line-height: 1.4;
    color: $primary-color;
    text-align: center;

    border: 0;
    border-radius: 8px;
    cursor: pointer;

    transition: background-color .2s linear;

    &--primary {
        background-color: $color-сomponents;

        &:hover {
            background-color: #75110D;
        }
    }

    &--secondary {
        color: $color-сomponents;

        border: 1px solid $color-сomponents;
        background-color: transparent;

        &:hover {
            border-color: $element-color;
            background-color: $element-color;
        }
    }

    &--transparent {
        width: 223px;
        padding: 10px 16px 8px 43px;

        font-size: 14px;
        font-weight: 500;

        background-color: rgba(255, 255, 255, .2);

        &:hover {
            background-color: rgba(255, 255, 255, .4);
        }
    }

    &--light {
        padding-left: 60px;
        padding-right: 60px;

        font-weight: 700;
        color: #EC7973;

        background-color: $section-accent-color;

        &:hover {
            color: $color-сomponents;
            background-color: $element-color;
        }
    }
}