.calculator {
    padding: 35px 25px 25px;
    grid-column: 10 / -1;

    background-color: $element-color;
    background-image: url('../images/calculator-decorative-element.png');
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint($breakpoint-xs) {
        display: none;
    }

    &__description {
        margin-bottom: 42px;

        font-size: 23px;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $secondary-color;
    }

    &--mobile {
        display: none;
        grid-column: 1 / -1;

        background-color: $element-color;

        @include breakpoint($breakpoint-xs) {
            display: block;
        }

        &__wrapper {
            max-width: 282px;
            margin: 0 auto;
            padding: 32px 0;

            text-align: center;
        }

        &__description {
            margin-bottom: 24px;
            font-size: 20px;
        }
    }

    &__btn {
        @include breakpoint($breakpoint-xs) {
            margin-left: -10px;
        }
    }
}