.contacts {
    width: 100%;
    max-width: 305px;
    margin-right: 182px;

    @include breakpoint($breakpoint-xs) {
        max-width: none;
        margin-right: 0;
    }

    &__title {
        margin-bottom: 7px;

        @extend %font-family-second;
        font-size: 46px;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 10px;

            font-size: 40px;
        }
    }

    &__description {
        margin-bottom: 32px;
    }

    &__phone {
        display: inline-block;
        margin-bottom: 25px;

        font-weight: 700;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 23px;
        }
    }

    &__btn {
        position: relative;

        &:before {
            width: 24px;
            height: 24px;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }


        &--whatsapp {
            margin-bottom: 17px;

            @include breakpoint($breakpoint-xs) {
                margin-bottom: 19px;
            }

            &:before {
                margin-left: 11px;
                content: url('../images/whatsapp-icon.svg');
            }
        }

        &--telegram {
            margin-bottom: 42px;

            &:before {
                margin-left: 11px;
                content: url('../images/telegram-icon.svg');
            }
        }
    }

    &__subscribe-instagram {
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;

            background-color: $primary-color;

            position: absolute;
            bottom: 1px;
            left: 0;
        }
    }
}