.contacts {
    width: 100%;
    max-width: 305px;
    margin-right: 182px;

    &__title {
        margin-bottom: 8px;

        font-family: "Oswald", sans-serif;
        font-weight: 700;
        font-size: 46px;
        line-height: 1.3;
        letter-spacing: 0.02em;
    }

    &__description {
        margin-bottom: 32px;
    }

    &__phone {
        display: inline-block;
        margin-bottom: 24px;

        font-weight: 700;
    }

    &__btn {
        position: relative;

        &:before {
            width: 24px;
            height: 24px;

            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }


        &--whatsapp {
            margin-bottom: 17px;

            &:before {
                margin-left: 11px;
                content: url('../images/whatsapp-icon.svg');
            }
        }

        &--telegram {
            margin-bottom: 42px;

            &:before {
                margin-left: 11px;
                content: url('../images/telegram-icon.svg');
            }
        }
    }

    &__subscribe-instagram {
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;

            background-color: $primary-color;

            position: absolute;
            bottom: 1px;
            left: 0;
        }
    }
}