.delivery {
    padding-top: 78px;

    @include breakpoint($breakpoint-xs) {
        padding-top: 34px;
        position: relative;

        &:before {
            content: url('../images/delivery/arrow-mobile.png');
            width: 683px;

            position: absolute;
            top: 101px;
            left: 0;
        }
    }

    &__item {
        padding-top: 57px;

        @include breakpoint($breakpoint-xs) {
            margin-left: 32px;
        }

        &--package {
            &:before {
                background-image: url('../images/delivery/package.svg');
            }
        }

        &--phone-call {
            &:before {
                background-image: url('../images/delivery/phone-call.svg');
            }
        }

        &--clock {
            &:before {
                background-image: url('../images/delivery/clock.svg');
            }
        }

        &--heart {
            &:before {
                background-image: url('../images/delivery/heart.svg');
            }
        }

        &:not(:last-child) {
            &:after {
                content: url('../images/delivery/arrow.png');
                width: 139px;

                position: absolute;
                top: 12px;
                right: 25px;

                @include breakpoint($breakpoint-xs) {
                    display: none;
                }
            }
        }
    }

    &__item-icon {
        margin-bottom: 12px;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 10px;
        }
    }

    &__title {
        margin-bottom: 6px;
    }

    &__description {
        span {
            color: $color-сomponents;
        }
    }
}