.faq {
    @extend %grid-columns;
    margin-bottom: -2px;

    @include breakpoint($breakpoint-xs) {
        margin-top: -2px;
        margin-bottom: 0;
    }

    &__title {
        grid-column: 1 / span 4;

        @include breakpoint($breakpoint-xl) {
            grid-column: 1 / -1;
            margin-bottom: 41px;
        }
    }

    &__wrapper {
        margin-bottom: 2px;
        margin-left: 16px;
        grid-column: 5 / -1;

        @include breakpoint($breakpoint-xl) {
            grid-column: 1 / -1;
            margin-left: 0;
            margin-bottom: -1px;
        }
    }

    &__item {

        &:first-child {
            .faq__header {
                padding-top: 0;
            }
        }

        &:last-child {
            .faq__header{
                padding-bottom: 0;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px solid #E5E5E5;
        }

        &--active {
            padding-bottom: 31px;
            border-bottom: 1px solid #E5E5E5;

            @include breakpoint($breakpoint-xs) {
                padding-bottom: 2px;
            }

            .faq__header {
                padding-bottom: 10px;
                border: 0;

                @include breakpoint($breakpoint-xs) {
                    padding-bottom: 16px;
                }
            }

            .faq__btn-vertical-line {
                opacity: 0;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 32px;
        padding-bottom: 31px;

        @include breakpoint($breakpoint-xs) {
            padding-top: 24px;
            padding-bottom: 23px;
        }
    }

    &__item-title {
        width: 100%;
        max-width: 695px;

        font-weight: 600;
        font-size: 18px;
        color: $secondary-color;

        > span br {
            display: none;
        }

        @include breakpoint($breakpoint-xs) {
            font-size: 16px;

            > span br {
                display: block;
            }
        }
    }

    &__btn {
        width: 20px;
        height: 20px;
        padding: 10px 20px 16px 10px;
        margin-left: 20px;

        background: none;
        border: 0;
        cursor: pointer;

        position: relative;

        @include breakpoint($breakpoint-xs) {
            padding-left: 1px;
        }
    }

    &__btn-horizontal-line,
    &__btn-vertical-line {
        display: block;
        width: 20px;
        height: 2px;

        background-color: $color-сomponents;
        border-radius: 2px;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    &__btn-vertical-line {
        opacity: 1;
        transform: rotate(90deg);
    }

    &__content {
        width: 100%;
        max-width: 695px;

        @include breakpoint($breakpoint-xs) {
            font-size: 14px;
        }
    }
}