.header {
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 112px;

        @include breakpoint($breakpoint-lg) {
            height: 100px;
        }

        @include breakpoint($breakpoint-xs) {
            height: 70px;
        }
    }
}