.info-slider {
    padding: 32px 0;
    background-color: $element-color;

    background-image: url('../images/info-decorative-line.png');
    background-repeat: no-repeat;
    background-position: center;

    @include breakpoint($breakpoint-xs) {
        background-image: url('../images/info-decorative-line-mobile.png');
        background-position: top left 41px;
        padding: 56px 49px 70px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1040px;

        @include breakpoint($breakpoint-sm) {
            flex-direction: row-reverse;
            justify-content: center;
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 449px;
        height: 225px;
        flex-grow: 1;

        @include breakpoint($breakpoint-xl) {
            height: auto;
            justify-content: space-between;
        }

        @include breakpoint($breakpoint-md) {
            margin: 0 auto;

            &:nth-child(1) {
                display: none;
            }
        }

        &:first-of-type {
            margin-left: 15px;
            margin-right: 40px;
        }

        &:last-of-type {
            margin-right: 15px;

            @include breakpoint($breakpoint-md) {
                margin: 0 auto;
            }

            @include breakpoint($breakpoint-sm) {
                margin: 0 15px;
            }

            @include breakpoint($breakpoint-xs) {
                margin: 0 auto;
            }
        }
    }

    &__title {
        margin-bottom: 18px;
        width: 100%;

        font-size: 14px;
        line-height: 2;
        font-weight: 600;
        color: $secondary-color;
        text-transform: uppercase;
    }

    &__list {
        &:first-of-type {
            margin-right: 72px;

            @include breakpoint($breakpoint-xl) {
                margin-right: 24px;
            }
        }
    }

    &__list-item {
        display: flex;
        align-items: center;

        font-size: 18px;
        line-height: 2.5;
        font-weight: 500;

        span {
            margin-left: 16px;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;

        @include breakpoint($breakpoint-xs) {
            width: 24px;
            height: 24px;
        }
    }
}