.info-slider {
    padding: 32px 0 30px;
    background-color: $element-color;

    position: relative;

    @include breakpoint($breakpoint-md) {
        padding-bottom: 50px;
    }

    @include breakpoint($breakpoint-xs) {
        padding-bottom: 71px;
    }

    &__wrapper {
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1040px;

        @include breakpoint($breakpoint-lg) {
            justify-content: center;
        }

        @include breakpoint($breakpoint-md) {
            justify-content: flex-start;
        }
    }

    &__decorative {
        width: 1198px;
        height: 205px;

        position: absolute;
        top: 44px;
        left: 0;

        fill: transparent;
        stroke: $section-accent-color;

        @include breakpoint($breakpoint-xs) {
            top: 499px;
            left: -455px;
            transform: rotate(90deg);
        }
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        width: 100%;
        max-width: 449px;
        height: 225px;

        @include breakpoint($breakpoint-xl) {
            max-width: 410px;
            height: auto;
            justify-content: space-between;
        }

        @include breakpoint($breakpoint-lg) {
            justify-content: center;
        }

        @include breakpoint($breakpoint-md) {
            max-width: none;
        }

        @include breakpoint($breakpoint-xs) {
            padding-top: 23px;
            padding-left: 49px;
            justify-content: flex-start;
        }

        &:first-of-type {
            margin-right: 20px;

            @include breakpoint($breakpoint-xl) {
                margin-left: 20px;
            }

            @include breakpoint($breakpoint-md) {
                margin: 0;
                order: 2;
            }
        }

        &:last-of-type {
            @include breakpoint($breakpoint-xl) {
                margin-right: 20px;
            }

            @include breakpoint($breakpoint-md) {
                margin: 0;
                order: 1;
            }
        }
    }

    &__title {
        margin-bottom: 18px;
        width: 100%;

        font-size: 14px;
        line-height: 2;
        font-weight: 600;
        color: $secondary-color;
    }

    &__list-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint($breakpoint-lg) {
            flex-direction: column;
        }
    }

    &__list {
        &:first-of-type {
            margin-right: 72px;

            @include breakpoint($breakpoint-xl) {
                margin-right: 24px;
            }
        }
    }

    &__list-item {
        display: flex;
        align-items: center;

        font-size: 18px;
        line-height: 2.5;
        font-weight: 500;

        span {
            margin-left: 16px;
        }
    }

    &__icon {
        width: 20px;
        height: 20px;

        fill: $color-сomponents;

        @include breakpoint($breakpoint-xs) {
            width: 24px;
            height: 24px;
        }
    }

    &.swiper  {
        margin: 0;
    }

    &__pagination {
        &.swiper-pagination {
            bottom: 18px;
        }

        .swiper-pagination-bullet {
            background-color: transparent;
            border: 1px solid $color-сomponents;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background-color: $color-сomponents;
        }
    }
}