.intro {
    @extend %flex-column;
    justify-content: center;
    width: 100%;
    height: 800px;
    margin-bottom: 160px;

    color: $primary-color;

    background: $color-content url("../images/no-webp/intro-bg.jpg") center no-repeat;
    background-size: cover;

    position: relative;

    @include breakpoint($breakpoint-lg) {
        min-height: 100vh;
        margin-bottom: 120px;
    }

    @include breakpoint($breakpoint-sm) {
        margin-bottom: 80px;
    }

    @include breakpoint($breakpoint-xs) {
        height: 746px;
        background-image: url('../images/no-webp/intro-bg-mobile.jpg');
    }

    &__inner {
        width: 100%;
        max-width: 460px;
        @extend %flex-column;

        position: relative;
        z-index: 1;

        @include breakpoint($breakpoint-md) {
            max-width: 370px;
        }
    }

    &__title {
        margin-bottom: 25px;
        width: 100%;
        max-width: 340px;

        font-size: 20px;
        font-weight: 400;

        order: 2;

        @include breakpoint($breakpoint-sm) {
            margin-bottom: 47px;
            max-width: 230px;

            font-size: 18px;
        }
    }

    &__subtitle {
        margin-bottom: 12px;

        @extend %font-family-second;
        font-size: 54px;

        order: 1;

        @include breakpoint($breakpoint-lg) {
            font-size: 50px;
            line-height: 1.2;
        }

        @include breakpoint($breakpoint-md) {
            font-size: 46px;
            line-height: 1.3;
        }

        @include breakpoint($breakpoint-sm) {
            margin-top: 35px;
            margin-bottom: 25px;

            font-size: 44px;

            br {
                display: none;
            }
        }
    }

    &__text-desktop {
        @include breakpoint($breakpoint-sm) {
            display: none;
        }
    }

    &__text-mobile {
        display: none;

        @include breakpoint($breakpoint-sm) {
            display: inline;
        }
    }

    &__decorative {
        width: 270px;
        height: 97px;

        stroke: #EC7973;
        fill: transparent;

        position: absolute;
        top: 64px;
        left: 171px;
        z-index: -1;
        transform: rotate(5deg);

        @include breakpoint($breakpoint-lg) {
            width: 240px;
            height: 88px;

            top: 53px;
            left: 162px;
        }

        @include breakpoint($breakpoint-md) {
            width: 187px;
            top: 47px;
        }

        @include breakpoint($breakpoint-sm) {
            height: 98px;

            top: 73px;
            left: -6px;
        }
    }

    &__btn {
        margin-right: auto;
        order: 3;
    }

    &__zooov {
        width: 168px;
        height: 548px;

        fill: $primary-color;

        position: absolute;
        top: 160px;
        left: calc(100% - 147px);
        z-index: 2;

        @include breakpoint($breakpoint-lg) {
            width: 170px;
            height: 420px;

            top: 290px;
        }

        @include breakpoint($breakpoint-sm) {
            width: 156px;
            height: 334px;

            top: 405px;
            left: calc(100% - 126px);
        }
    }
}