.logo {
    margin-right: 20px;
    flex-shrink: 0;

    width: 80px;
    height: 80px;

    transition: opacity .1s linear;

    @include breakpoint($breakpoint-lg) {
        width: 65px;
        height: 65px;

        z-index: 2;
    }

    @include breakpoint($breakpoint-xs) {
        width: 60px;
        height: 60px;

        align-self: flex-end;
    }

    &:hover {
        opacity: .9;
    }

    &:active {
        opacity: .7;
    }
}