.otherness {
    padding: 2px 0 7px;
    position: relative;

    @include breakpoint($breakpoint-sm) {
        padding-bottom: 0;
        margin-bottom: -3px;
    }

    &__section-title {
        display: inline-block;
        margin-bottom: 60px;

        line-height: 1.2;

        &--rays {

            &:after {
                @include breakpoint($breakpoint-sm) {
                    bottom: -24px;
                    left: 97%;
                }
            }
        }

        @include breakpoint($breakpoint-sm) {
            margin-bottom: 42px;
        }
    }

    &__item-icon {
        margin-bottom: 9px;
    }

    &__title {
        margin-bottom: 8px;

        > span:nth-child(2) {
            display: none;
        }
    }

    &__description {
        @include breakpoint($breakpoint-lg) {
            br {
                display: none;
            }
        }
    }

    &__text-desktop {
        @include breakpoint($breakpoint-sm) {
            display: none;
        }
    }

    &__text-mobile {
        display: none;

        @include breakpoint($breakpoint-sm) {
            display: inline;
        }
    }

    &__decorative {
        width: 1440px;
        height: 236px;
        stroke: $section-accent-color;
        fill: transparent;

        position: absolute;
        top: 65px;
        left: 50%;
        z-index: -1;

        transform: translateX(-50%);

        @include breakpoint($breakpoint-sm) {
            left: -10px;
            transform: translateX(0);

            &--mobile {
                display: block;

                top: 432px;
                left: -448px;
            }
        }

        &--mobile {
            display: none;
        }
    }
}