.otherness {
    padding: 2px 0 7px;
    position: relative;

    @include breakpoint($breakpoint-xs) {
        padding-bottom: 0;
        margin-bottom: -3px;
    }

    &__section-title {
        display: inline-block;
        margin-bottom: 60px;

        line-height: 1.2;

        &--rays {

            &:after {

                @include breakpoint($breakpoint-xs) {
                    bottom: -24px;
                    left: 97%;
                }
            }
        }

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 42px;
        }
    }

    &__item-icon {
        margin-bottom: 9px;
    }

    &__title {
        margin-bottom: 8px;

        > span:nth-child(2) {
            display: none;
        }
    }

    &__description {
        @include breakpoint($breakpoint-xs) {
            br {
                display: none;
            }
        }
    }

    &__text-desktop {
        @include breakpoint($breakpoint-xs) {
            display: none;
        }
    }

    &__text-mobile {
        display: none;

        @include breakpoint($breakpoint-xs) {
            display: inline;
        }
    }

    &__decorative {
        width: 1440px;
        height: 236px;
        stroke: #000;

        position: absolute;
        top: 64px;
        left: 0px;
        z-index: -1;
    }
}