.rations {
    padding-bottom: 115px;

    @include breakpoint($breakpoint-sm) {
        padding-bottom: 73px;
    }

    &__header {
        padding-top: 23px;
        margin-bottom: 41px;
        @extend %grid-columns;

        position: relative;

        @include breakpoint($breakpoint-xs) {
            padding-top: 18px;
            margin-bottom: 0;
            margin-bottom: 32px;
        }
    }

    &__title {
        margin-bottom: 16px;
        grid-column: 1 / span 4;

        @include breakpoint($breakpoint-xl) {
            grid-column: 1 / -1;
            grid-row: auto;
            margin-bottom: 19px;
        }
    }

    &__decorative {
        width: 186px;
        height: 74px;

        stroke: #EC7973;
        fill: transparent;

        position: absolute;
        top: 15px;
        left: 173px;
        z-index: -1;
        transform: rotate(-13deg);

        @include breakpoint($breakpoint-xl) {
            width: 168px;
            height: 70px;
        }

        @include breakpoint($breakpoint-xs) {
            height: 63px;

            top: 14px;
            left: 144px;
        }
    }

    &__description {
        padding-left: 11px;
        grid-column: 5 / -1;

        @include breakpoint($breakpoint-xl) {
            br {
                display: none;
            }

            margin: 0;
            grid-column: 1 / -1;
            grid-row: auto;
            padding-left: 0;
        }

        @include breakpoint($breakpoint-xs) {
            br {
                display: block;
            }
        }
    }

    &__slider {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        padding-bottom: 45px;

        @include breakpoint($breakpoint-sm) {
            padding-bottom: 53px;
        }
    }

    &__item {
        display: block;
        width: 280px;

        &.rations-item.swiper-slide {
            width: 280px !important;
        }

        @include breakpoint($breakpoint-xs) {
            grid-column: 1 / -1;
        }

        &:first-child {
            grid-column: 1 /span 3;
        }

        &:nth-child(2) {
            grid-column: 4 / span 3;
        }

        &:nth-child(3) {
            grid-column: 7 / span 3;
        }

        &:last-child {
            grid-column: 10 / -1;
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        background-color: $color-сomponents;
    }
}