.section {
    padding-bottom: 160px;

    &:last-of-type {
        padding-bottom: 154px;
    }

    &__title {
        font-family: 'Oswald', sans-serif;
        font-size: 46px;
        line-height: 1.3;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $secondary-color;

        @include breakpoint($breakpoint-xs) {
            font-size: 40px;
        }
    }

    &__description {
        color: $secondary-color;

        @include breakpoint($breakpoint-xs) {
            font-size: 14px;
        }
    }

    &--mobile-indent {
        @include breakpoint($breakpoint-xs) {
            padding-bottom: 54px;
        }
    }
}