.section {
    padding-bottom: 160px;

    @include breakpoint($breakpoint-lg) {
        padding-bottom: 120px;
    }

    @include breakpoint($breakpoint-sm) {
        padding-bottom: 80px;
    }

    @include breakpoint($breakpoint-xs) {
        &:last-of-type {
            padding-bottom: 79px;
        }
    }

    &__title {
        @extend %font-family-second;
        font-size: 46px;
        color: $secondary-color;

        @include breakpoint($breakpoint-xl) {
            font-size: 44px;
        }

        @include breakpoint($breakpoint-xs) {
            font-size: 40px;
        }

        &--rays {
            position: relative;

            &:after {
                content: url('../images/rays-down.png');

                position: absolute;
                bottom: -26px;
                left: 100%;
            }
        }
    }

    &__description {
        color: $secondary-color;

        @include breakpoint($breakpoint-xs) {
            font-size: 14px;
        }
    }

    &--mobile-indent {
        @include breakpoint($breakpoint-xs) {
            padding-bottom: 54px;
        }
    }
}