.section {
    padding-bottom: 160px;

    @include breakpoint($breakpoint-lg) {
        padding-bottom: 120px;
    }

    @include breakpoint($breakpoint-sm) {
        padding-bottom: 80px;
    }

    @include breakpoint($breakpoint-xs) {
        &:last-of-type {
            padding-bottom: 79px;
        }
    }

    &__title {
        @extend %font-family-second;
        font-size: 46px;
        color: $secondary-color;

        @include breakpoint($breakpoint-xl) {
            font-size: 44px;
        }

        @include breakpoint($breakpoint-xs) {
            font-size: 40px;
        }

        &--rays {
            position: relative;

            &:after {
                content: url('../images/no-webp/rays.png');

                position: absolute;
                bottom: -26px;
                left: 100%;

                animation: scale 1s linear infinite alternate;

                @keyframes scale {
                    from {
                        transform: translateX(0) translateY(0) scale(1);
                    }
                    to {
                        transform: translateX(2px) translateY(2px) scale(1.2);
                    }
                }
            }
        }
    }

    &__description {
        color: $secondary-color;

        @include breakpoint($breakpoint-xs) {
            font-size: 14px;
        }
    }

    &--mobile-indent {
        @include breakpoint($breakpoint-xs) {
            padding-bottom: 54px;
        }
    }
}