.structure {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex-basis: calc((100% - 24px * 3) / 4);
        color: $secondary-color;

        @include breakpoint($breakpoint-xs) {
            flex-basis: auto;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        &:not(:last-child) {
            margin-right: 24px;

            @include breakpoint($breakpoint-xs) {
                margin-right: 0;
            }
        }

        &--rays {
            position: relative;

            &:after {
                content: url('../images/rays-up.png');
                width: 34px;
                height: 30px;

                position: absolute;
                top: -27px;
                left: -17px;

                @include breakpoint($breakpoint-xs) {
                    top: -17px;
                    left: 27px;
                    transform: rotate(87deg);
                }
            }
        }
    }

    &__item-icon {
        width: 40px;
        height: 40px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
    }
}