.structure {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex-basis: calc((100% - 24px * 3) / 4);
        color: $secondary-color;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__item-icon {
        width: 40px;
        height: 40px;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
    }
}