.structure {
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex-basis: calc((100% - 24px * 3) / 4);
        color: $secondary-color;

        position: relative;

        &:not(:last-child) {
            margin-right: 24px;

            @include breakpoint($breakpoint-lg) {
                margin-right: 0;
            }
        }

        &:before {
            content: '';
            width: 40px;
            height: 40px;

            background-position: center;
            background-repeat: no-repeat;

            position: absolute;
            top: 0;
            left: 0;
        }

        @include breakpoint($breakpoint-lg) {
            flex-basis: calc((100% - 24px) / 2);

            &:nth-child(odd) {
                margin-right: 24px;
            }

            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 70px;
            }
        }

        @include breakpoint($breakpoint-sm) {
            flex-basis: auto;

            &:nth-child(odd) {
                margin-right: 0;
            }

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        &--rays {
            position: relative;

            &:after {
                content: url('../images/no-webp/rays.png');
                width: 34px;
                height: 30px;

                position: absolute;
                top: -24px;
                left: -20px;
                transform: rotate(192deg);

                @include breakpoint($breakpoint-sm) {
                    top: -19px;
                    left: 26px;
                    transform: rotate(287deg);
                }
            }
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;

        line-height: 1.3;
    }
}